%h1= titulo

.row-fluid
  .span12
    - if @lista.cartas.any?
      = render  partial: 'layouts/galeria',
                locals: { imagenes: @lista.cartas,
                          paginar: true }
    - else
      %p
        Tu colección está vacía.
        ¿Por qué no le
        #{link_to 'agregás', edit_usuario_lista_path(@usuario, @lista)}
        algunas cartas?

= link_to otras_listas, usuario_listas_path(@usuario), class: 'btn'
