%h1= titulo

.row-fluid
  .span12
    - if @versiones.any?
      = render  partial: 'layouts/galeria',
                locals: { imagenes: @versiones,
                          paginar: true }
    - else
      %p
        ¿Por qué no anotás lo que tenés y lo que buscás?

= link_to 'Tus otras listas', usuario_listas_path(current_usuario), class: 'btn'
