- if usuario_signed_in?
  = link_to main_app.destroy_usuario_session_path, method: :delete,
    class: 'logout', title: 'Cerrar la sesión'  do
    - content_tag(:i, nil, class: 'icon-arrow-down icon-white')
- else
  = link_to main_app.new_usuario_session_path, title: 'Loguearse' do
    - content_tag(:i, nil, class: 'icon-arrow-up icon-white')
