- if usuario_signed_in?
  = link_to main_app.usuario_path(current_usuario), title: 'Perfil' do
    - content_tag(:i, nil, class: 'icon-user icon-white')
- else
  = link_to main_app.new_usuario_registration_path, title: 'Registrarse' do
    - content_tag(:i, nil, class: 'icon-book icon-white')
