- if usuario_signed_in?
  = link_to panel_path do
    - content_tag(:i, nil, class: 'icon-user icon-white')
- else
  = link_to new_usuario_registration_path do
    - content_tag(:i, nil, class: 'icon-book icon-white')
