- cache tienda do
  .row-fluid
    .span2.nombre
      = link_to_mostrar tienda, tienda.nombre
    .span2.region.hidden-phone= tienda.region
    .span4.direccion= tienda.direccion
    .span4.links.hidden-phone= tienda.lista_de_paginas
