%h1= titulo
.row-fluid
  #carta.span5
    %h2 Texto oficial
    = render  partial: 'versiones/version_textual', object: @carta.canonica

  .span7
    %h2 Imágenes
    = render  partial: 'layouts/galeria',
              locals: { imagenes: @carta.canonica.imagenes,
                        estilo: :original }

- if @carta.versiones.size > 1
  = link_to 'Todas las versiones', carta_versiones_path(@carta), class: 'btn'
