.row-fluid
  #carta.span6
    %h2 Texto oficial
    = render @carta
  .span6
    %h2 Imágenes
    = render partial: 'layouts/galeria',
    locals: { imagenes: @carta.canonica.imagenes, estilo: :original }


- if @carta.versiones.size > 1
  .row-fluid
    .span12= link_to 'Todas las versiones', carta_versiones_path(@carta), class: 'btn'
