.row-fluid
  .span12
    = f.select :moderation_option, [[t('approve', scope: 'forem.posts.moderation'), 'approve'],
      [t('spam', scope: 'forem.posts.moderation'), 'spam']],
      { prompt: 'Postergar' }

.row-fluid
  .span12
    = f.submit t('moderate', scope: 'forem.posts.moderation'),
      class: 'btn btn-success'
