.control-group
  .controls
    = f.submit boton, class: 'btn btn-success'
    %span.help-inline Acordate de revisar si los mails quedan como spam

.control-group
  .controls= render partial: "devise/shared/links"
