%h1= titulo

.row-fluid
  .span12
    %ul.menu.nav.nav-list.nav-stacked
      %li= link_to 'Torneos', torneos_path
      %li= link_to 'Formatos', formatos_path
      %li= link_to 'Ranking', Rails.configuration.posiciones
