.row-fluid
  .span12
    %h2.plegable Información sobre el artista
    %dl
      %dt Links
      - if @artista.links.any?
        - @artista.links.each do |l|
          %dd= link_to l.nombre, l.url
      - else
        %dd= I18n.t('artistas.sin_links')
.row-fluid
  .span12
    %h2.plegable Galería de ilustraciones
    = render  partial: 'layouts/galeria',
              locals: { imagenes: @artista.ilustraciones }

= link_to 'Otros artistas', artistas_path, class: 'btn'
