%h1= titulo

= render 'form'

.row-fluid.botones
  .span12
    - if can? :read, @torneo
      = link_to 'Ver', torneo, class: 'btn'
    - if can? :read, Torneo
      = link_to 'Otros torneos', torneos_path, class: 'btn'
