%h1= titulo

= render partial: 'cartas/form', locals: { version: version.preparar,
  bloqueados: [ :numero, :nombre ] }

.row-fluid.botones
  .span12
    = link_to 'Mostrar', en_expansion_carta_path(@carta, @version.expansion), class: 'btn'
    = link_to 'Cartas', cartas_path, class: 'btn'
