%h1= @titulo

%h2 Todas las versiones

.row-fluid
  .span12
    .row-fluid
      .span12= render partial: 'layouts/galeria',
                      locals: { imagenes: @versiones,
                                estilo: :original }
