.row-fluid
  #carta.span5
    %h2 Texto de esta versión
    = render  partial: 'cartas/carta',
              locals: { carta: @carta,
                        version: @version }
  .span7
    %h2 Imágenes
    = render  partial: 'layouts/galeria',
              locals: { imagenes: @version.imagenes,
                        estilo: :original }

= link_to 'Ir a la carta', @carta, class: 'btn'
= link_to 'Ir a la expansión', @version.expansion, class: 'btn'
