.row-fluid
  #carta.span6
    %h2 Texto de esta versión
    = render  partial: 'cartas/carta',
              locals: { carta: @carta,
                        version: @version }
  .span6
    %h2 Imágenes
    - # Envuelvo @version en un Array para que agregue .no-disponible su
    - # decorador
    = render  partial: 'layouts/galeria',
              locals: { imagenes: [@version],
                        estilo: :original }

.row-fluid
  .span12= link_to 'Volver a la carta', @carta, class: 'btn'
