- cache formato do
  .row-fluid
    .span2.nombre
      = link_to_mostrar formato, formato.nombre
    .span2.tipo.hidden-phone= formato.tipo
    .span8.expansiones.hidden-phone= formato.expansiones_legales
