#usuario
  .tabbable.tabs-right
    %ul.nav.nav-tabs
      %li
        = link_to 'Panel', panel_usuario_path(@usuario)
      %li.active
        = link_to 'Carnet', carnet_usuario_path(@usuario)
      %li
        = link_to 'Avatar', avatar_usuario_path(@usuario)

    #content-perfil.tab-content
      #carnet.tab-pane.active
        = render partial: 'carnet'
