- cache version do
  -# Si no tiene tipo es un demonio
  = separador_para (version.tipo || version.supertipo).pluralize
  .row-fluid
    .slot.span12
      -# TODO revisar que no se cachee la cantidad
      = "#{version.cantidad} x "
      = link_to version.nombre, version.carta
