// Colores
$color-base: #0088cc;
$gris-claro: #ccc;
$gris-oscuro: #333;
$borde-de-carta: lighten(black, 3%);
$gris-clarisimo: #f5f5f5;

$caos:    lighten(#dd9f65, 20%);
$locura:  lighten(#749ee3, 20%);
$muerte:  lighten(#77658b, 20%);
$poder:   lighten(#98bf66, 20%);
$neutral: lighten(#a4989f, 20%);

// Dimensiones
$altura-linea:  18px;

// Assets
$fondo: image-url('fondo.jpg');
$minifuego: image-url('favicon.png');
$iconos-blancos: image-url('twitter/bootstrap/glyphicons-halflings-white.png');

$heroUnitBackground: #e2e2e2;
