@import 'variables';

#carta {
  .nombre       { text-align: center; }
  .tipos        { text-align: center; }
  .senda        { text-align: right; }
  .ambientacion { text-align: center;
                  font-style: italic;
                  font-size: small;   }
  .rareza       { text-align: right; }
  .arte {
    text-align: left;
    p { text-align: center; }
  }
  .caja-de-texto {
    padding: 1em 0;
  }
  p.terrenal {
    border-top: 1px solid $gris-claro;
    padding-top: 10px;
  }

  ul {
    list-style-type: none;
  }
}

#cartas {
  .coste  { text-align: center;
            overflow: hidden; }
}

// Para los estilos de file upload en Cartas
// (tal vez estoy usando mal bootstrap)
.row-fluid input[class*="span"].filestyle {
  width: 80%;
  float: left;
}
.row-fluid button.btn.filestyle {
  margin-left: 0;
  border-left: none;
  width: 20%;
}
