dl.notas {
  margin-left: 1em;
}

#expansiones {
  .total, .lanzamiento, .presentacion {
    text-align: center;
  }
}

@media(min-width: 760px) {
  // Para los estilos de file upload
  form.expansion {
    .filestyle {
      &[type='text'] {
        float: left;
      }

      &.btn {
      }
    }
  }
}
