dl.notas {
  margin-left: 1em;
}

table#expansiones {

  #lanzamiento  { width: 10%; }
  #presentacion { width: 10%; }
  #total        { width: 12%; }

  .total, .lanzamiento, .presentacion {
    text-align: center;
  }

}
