@import 'twitter/bootstrap/variables';
@import 'variables';

.forums, #posts, #forums, #groups, #categories {
  &.tabla-fluida {
    a { color: $linkColor; }

    .row-fluid:not(.encabezado) {
      &:hover {
        a {
          // Sobreescribo el default de .tabla-fluida
          color: $linkColor;
        }
      }
    }
  }
}

.post {
  .user {
    .icon {
      margin-right: 1em;
    }
  }
}

form.post {
  textarea {
    height: $altura-linea * 20;
  }
}

.in-reply-to {
  display: inline;
}

.acciones-post, .acciones-forum, .acciones-category, .acciones-group {
  a {
    &:hover, &:focus {
      text-decoration: none;
    }
  }

  .texto {
    display: inline;
    &:hover, &:focus {
      text-decoration: underline;
      color: $linkColor;
    }
  }
}

#groups {
  &.tabla-fluida {
    .miembros { text-align: center; }
  }
}

#members {
  .iconos { text-align: center; }
}

.forum {
  .description, .acciones-forum { display: inline; }
}
