.galeria {
  .thumbs {
    margin: 0;

    li {
      list-style: none;
      display: inline-block;
      margin: 5px;
    }

    .thumb {
      min-height: 170px;
      min-width: 170px;
    }

    .no-disponible {
      // TODO vertical align
    }
  }
}
