@import 'twitter/bootstrap/mixins';
@import 'variables';

.galeria {
  .thumbs {
    margin: 0;

    li {
      list-style: none;
      display: inline-block;
      margin: 5px;
    }

    .thumb {
      height: 169px;
      width: 169px;
    }
    .original {
      height: 512px;
      width: 353px;
    }
    .no-disponible {
      @include border-radius(10px);
      background: transparent $fondo 0 0 fixed;
      border: 1px #eee solid;
    }
  }
}
