@import 'twitter/bootstrap/mixins';
@import 'variables';

body {
  blockquote {
    p {
      font-style: italic;
    }
  }
}

table {
  td.acciones {
    * {
      margin-left: 2px;
    }
  }
  #acciones { width: 25%; }
}

button.close {
  display: none;
}

h1 {
  @include border-radius(5px);
  padding-left: 5px;
  &:hover {
    background: transparent $fondo 0 0 fixed;
  }
}

.plegado {
  color: $gris-claro;
  text-decoration: line-through;
}

#cargando {
  @include border-radius(50px);
  background: transparent $fondo 0 100% fixed;
  height: 100px;
  width: 100px;
  right: 0;
  top: 50px;
  left: auto;
  margin-right: 10px;
}
