@import 'variables';

.tabla-fluida {
  a { color: $gris-oscuro; }

  i { padding: 2px; }

  & > .row-fluid {
    div { padding: 2px; }

    &:nth-child(even) {
      background-color: white;
      &.caos    { background-color: $caos; }
      &.locura  { background-color: $locura; }
      &.muerte  { background-color: $muerte; }
      &.poder   { background-color: $poder; }
      &.neutral { background-color: $neutral; }
    }

    &:nth-child(odd)  {
      background-color: $gris-clarisimo;
      &.caos    { background-color: darken($caos, 10%); }
      &.locura  { background-color: darken($locura, 10%); }
      &.muerte  { background-color: darken($muerte, 10%); }
      &.poder   { background-color: darken($poder, 10%); }
      &.neutral { background-color: darken($neutral, 10%); }

      &.encabezado {
        font-weight: bold;
        background-color: white;
        border-bottom: 1px solid $gris-claro;
        margin-bottom: 2px;
      }
    }

    // Hover
    &:not(.encabezado) {
      &:hover {
        background-color: $gris-oscuro;
        color: $gris-claro;
        a {
          color: $gris-claro;
          i { background-image: $iconos-blancos; }
        }
      }
    }
  }

  .row-fluid > *:first-child {
    padding-left: 10px;
  }

  .acciones { padding-right: 10px; }
}

@media (max-width: 767px) {
  .tabla-fluida .row-fluid > :first-child { padding-left: 0; }
}
