@import 'variables';

.tabla-fluida {

  a { color: $gris-oscuro; }

  .row-fluid {
    * { padding: 2px; }

    &.odd { background-color: $gris-claro; }

    &.caos {
      background-color: $caos;
      &.odd { background-color: darken($caos, 10%); } }
    &.locura {
      background-color: $locura;
      &.odd { background-color: darken($locura, 10%); } }
    &.muerte {
      background-color: $muerte;
      color: $gris-claro;
      a { color: $gris-claro; }
      &.odd { background-color: darken($muerte, 10%); } }
    &.poder {
      background-color: $poder;
      &.odd { background-color: darken($poder, 10%); } }
    &.neutral {
      background-color: $neutral;
      &.odd { background-color: darken($neutral, 10%); } }
  }

  // Hover
  .row-fluid:not(#encabezado) {
    &:hover {
      background-color: $gris-oscuro;
      color: $gris-claro;
      a {
        color: $gris-claro;
        i { background-image: $iconos-blancos; }
      }
    }
  }

  .row-fluid > *:first-child {
    padding-left: 10px;
  }

  #encabezado {
    font-weight: bold;
    background-color: $gris-claro;
  }

  .acciones { padding-right: 10px; }

}
