@import 'twitter/bootstrap/mixins';
@import 'variables';

#estados {
  a { margin-right: 5px; }
}

#posiciones {
  .encabezados {
    font-weight: bold;
    border-bottom: 1px solid $gris-claro;
    margin-bottom: 1em; }
  .posicion { text-align: center; }
  .puntos   { text-align: center; }
  .partidas { text-align: center; }
  .dropear  { text-align: center; }

  .flechas { text-align: left; }

  .fila {
    @include border-radius(5px);

    &:hover {
      background-color: $gris-claro;
    }
  }
}

#nueva_ronda {
  .puntuar { text-align: center; }
}

.tiempo-de-ronda {
  text-align: center;
  font-weight: bold;
  .reloj {
    font-size: 4em;
    line-height: 1em;
  }
  margin-bottom: 0.5em;
}

.controles-ronda {
  text-align: center;
  margin-bottom: 1em;
}
