@import 'twitter/bootstrap/mixins';
@import 'variables';

ul.versiones {
  list-style-type: none;
}

#versiones {

  .expansion {
    &:target li {
      // De bootstrap.thumbnail
      padding: 4px;
      line-height: $altura-linea;
      background: transparent $fondo 0 0 fixed;
      @include border-radius(5px);
      @include transition(all .2s ease-in-out);
    }
  }

}

.controles {
  text-align: right;
  .control-texto {
    margin-right: 1em;
  }

  .cantidad {
    margin: 0 0.5em;
  }
}
