@import 'twitter/bootstrap/mixins';
@import 'variables';

ul.versiones {
  list-style-type: none;
}

#versiones {

  .expansion {
    &:target li {
      // De bootstrap.thumbnail
      padding: 4px;
      line-height: $altura-linea;
      background: transparent $fondo 0 0 fixed;
      @include border-radius(5px);
      @include transition(all .2s ease-in-out);
    }
  }

}

.controles {
  text-align: right;
  .control-texto {
    margin-right: 1em;
  }

  .cantidad {
    margin: 0 0.5em;
  }
}

.link-con-popup {
  .popup {
    display: none;
  }
}

@media (min-width: 600px) {
  .link-con-popup {
    position: relative;

    .popup {
      display: block;
      visibility: hidden;
      background: transparent;
      position: fixed;
      margin: 0 auto;
      z-index: 10;
      text-align: center;
      margin: 0 auto;
      top: 50%;
      left: 50%;
      // default para cartas verticales
      margin-top: -256px;
      margin-left: -177px;
      &.escenario {
        margin-top: -177px;
        margin-left: -256px;
      }
    }

    &:hover {
      .popup {
        visibility: visible;
      }
    }
  }
}
