%p ¡Hola #{@resource.nick}!

%p
  Alguien pidió cambiar el password de tu cuenta. Podés hacerlo en
  = link_to 'este link', edit_password_url(@resource, reset_password_token: @token)

%p
  Si no fuiste vos, o tenés múltiples personalidades, ignorá este email.
  El password no va a cambiar hasta que clickees ahí arriba y lo cambies
  manualmente.
