%p #{@resource.nick}, tu cuenta fue bloqueada por irreverente!

%p
  O tal vez te olvidaste tu password, demasiados intentos fallidos tratando de
  adivinar...

%p
  Sea como sea, seremos benevolentes esta vez, si
  = link_to '¡suplicas perdón, mortal!', unlock_url(@resource, unlock_token: @resource.unlock_token)

%small
  (Si querés mantener tu dignidad, la cuenta se desbloquea automáticamente en
  una hora)
