#forums_container
  %h1#forums_title= t('.title')

  = render @categories

%footer#admin_link
  - if forem_admin?
    = link_to t("area", scope: "forem.admin"), forem.admin_root_path,
      class: 'btn btn-warning'
