#forums_container
  %h1#forums_title= t('.title')

  = render @categories

- if forem_admin?
  %footer#admin_link
    .row-fluid.botones
      .span12
        = link_to t("area", scope: "forem.admin"), forem.admin_root_path,
          class: 'btn btn-warning'
