- # TODO endless pagination
#lista
  - if defined?(paginar) ? paginar : false
    = paginacion_tag imagenes, kaminari: { param_name: :pagina_galeria }

  #galeria.galeria
    %ul.thumbs
      - imagenes.each do |v|
        %li
          = v.link (defined?(estilo) ? estilo : :thumb),
            class: (defined?(estilo) ? estilo : :thumb)

  - if defined?(paginar) ? paginar : false
    = paginacion_tag imagenes, id: 'paginacion-inferior', kaminari: { param_name: :pagina_galeria }
