-# TODO endless pagination
#lista
  - if (defined?(paginar) ? paginar : false) and imagenes.any?
    = paginacion_tag imagenes, mostrar_tipo: true

  -# TODO Mostrar el texto de la carta, en vez de sólo la imagen. Permite
  -# cambiar el background a estilo mini en .phones, seleccionar el texto de la
  -# carta, etc
  #galeria.galeria
    - case tipo_actual
    - when :texto
      #cartas.tabla-fluida
        #encabezado.row-fluid
          .nombre.span3 Nombre
          .coste.span1.hidden-phone Coste
          .senda.span1.visible-desktop Senda
          .senda.span1.visible-desktop Rareza
          .tipo.span3.hidden-phone Tipo
          .expansion.span3.hidden-phone Expansiones

        = render partial: 'versiones/version', collection: imagenes
    - else
      %ul.thumbs
        - imagenes.each do |v|
          %li{class: tipo_actual}
            = v.link tipo_actual
            -# TODO tratar de pasar siempre versiones o agregar al decorador
            = v.reserva_y_coleccion if v.respond_to? :reserva_y_coleccion
