- # TODO endless pagination
#lista
  - if defined?(paginar) ? paginar : false
    = paginacion_tag imagenes, mostrar_tipo: true

  #galeria.galeria
    %ul.thumbs
      - imagenes.each do |v|
        %li
          = v.link tipo_actual,
            class: tipo_actual

  - if defined?(paginar) ? paginar : false
    = paginacion_tag imagenes, id: 'paginacion-inferior', mostrar_tipo: true
